.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(83, 83, 83);
  z-index: 100;
  border-style: solid;
  border-width: 5px;
  border-color: #fff;
  border-radius: 1em;
  padding: 2%;
}

.modalContent {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(38, 240, 179);
}

.modalContent h2 {
  font-size: 1.4vw;
}

.modalContent p {
  font-size: 1vw;
}

.close {
  position: absolute;
  top: 0.3em;
  right: 0.6em;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  color: rgb(38, 240, 179);
  transform: rotate(-90deg);
}

.modalImage {
  margin-left: auto;
  margin-right: auto;
}

.modalImage img {
  height: auto;
  max-height: 675px;
  width: 70%;
  object-fit: contain;
  box-shadow: -6px 6px 10px 5px rgba(255, 255, 255, 0.671);
}
