.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(46, 46, 46);
  z-index: 100;
}

.modalContent {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 3%;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(38, 240, 179);
}

.modalContent h2 {
  font-size: 1.5vw;
}

.modalContent p {
  font-size: 1vw;
}

.close {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 1.8em;
  font-weight: bold;
  color: #bbb;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
  color: rgb(38, 240, 179);
  transform: rotate(-90deg);
}

.modalImage {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modalImage img {
  height: auto;
  max-height: 675px;
  width: 75%;
  object-fit: cover;
}
